<p id="notice"><%= notice %></p>

<p>
<h2><%= @user.username %><br></h2>

<% if @user.ratings.empty? %>
 beer has not yet been rated!
<% else %>
Has made <%= pluralize @user.ratings.count,'rating'%>, average <%= @user.average_rating%>
<% end %>
<br>

</p>
<strong>ratings</strong>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li> 
        <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
    <% end %>
  </ul>
 <br>
<% if @user.favorite_style != nil%>
Favorite style <%= @user.favorite_style%>
<br>
Favorite brewery <%= @user.favorite_brewery.name%>
<br>
<% end %>
<%= link_to 'Back', users_path %><br>
        <% if @user == current_user %>
	<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>


